<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    {{!-- <link rel="icon" href="/img/gear.png"> --}}
    
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
    <div class="main-content">

        {{>header}}
    </div>


</body>



</html>