<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{!-- <link rel="icon" href="/img/gear.png"> --}}
    
    <link rel="stylesheet" href="/css/style.css">

</head>


<body>
    <div class="main-content">

        {{>header}}

        <p>This site was created by Chakron Dechkrut. It uses data from</p>

        {{!-- <img class="portrait" src="/img/1480677060693.jpg"> --}}


    </div>

    {{>footer}}

</body>



</html>