<!DOCTYPE html>

<html>

<head>
    <title>Test</title>

    {{!-- <link rel="icon" href="/img/gear.png"> --}}

    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}


</head>


<body>

    <script src="/socket.io/socket.io.js"></script>

</body>


</html>